    <!-- Slider Start -->
    <section id="slider">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="block">
                <p class="animated fadeInUp">If you can read this <br>You are lucky! <br>Because, I can't! <br> If you are like me, <a href="#"> get help</a> with Audio Books <br>or <a href="#">Help Me!</a></p>
              </div>
                <div class="block">
                    <img src="introimage.png" alt="Image">
                </div>
            </div>
          </div>
        </div>
      </section>
